{% for field_diff in compare_data %}
    <div class="row">
        <div class="card ml-0 mr-0 col-md-12 mt-2">
            <div class="card-body">
                <h5 class="card-title">{% firstof field_diff.field.verbose_name field_diff.field.related_name %}{% if field_diff.is_related and not field_diff.follow %}<sup class="follow">*</sup>{% endif %}</h5>
                {% if field_diff.field.help_text %}<h6 class="card-subtitle mb-2 text-muted">{{ field_diff.field.help_text }}</h6>{% endif %}
                    <div class="module">
                        <p>{{ field_diff.diff }}</p>
                    </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="row">
                <div class="module">
                    <p class="text-info">There are no differences</p>
                </div>
            </div>
    {% endfor %}
    

{% if has_unfollowed_fields %}
<div class="row mt-5">
    <div class="p-3 mb-2 bg-info text-white">
        Fields and entries marked with <sup class="follow">*</sup> are not under reversion control.
        It may be that not all marked information are correct.
    </div>
</div>
    {% endif %}
    