{% load daisy_utils %}
<div class="flex flex-col gap-6 [&_a.font-semibold]:bg-sky-50">
    {% for field in facets.fields %}
        {% with values=facets.fields|get_item:field %}
            {% if values %}
            <div>
                <h3 class="mb-3 pb-2 text-xs font-semibold uppercase tracking-widest text-gray-500 border-b border-gray-200">{{ field|title|un_underscore }}</h3>
                <ul class="facets flex flex-col gap-1.5 list-none">
                    {% for facet in values %}
                        {% facetlink url field facet %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endwith %}
    {% endfor %}
</div>
