{% load widget_tweaks %}

{% with base="block w-full px-3 py-2 text-sm rounded border focus:ring-1 focus:outline-none" %}
<div class="mb-4">
    {% if field.field.widget.input_type == 'checkbox' %}
        {% include '_includes/checkbox.html' %}
    {% elif field.field.widget.input_type == 'radio' %}
        {% include '_includes/radio.html' %}
    {% else %}
        <div class="block mb-1 text-sm font-medium text-gray-700">{{ field.label_tag }}</div>
        {% if form.is_bound %}
            {% if field.errors %}
                {% render_field field class+=base class+="border-red-700 focus:border-red-700 focus:ring-red-700" %}
                {% for error in field.errors %}
                    <div class="mt-1 text-sm text-red-700">
                        {{ error }}
                    </div>
                {% endfor %}
            {% else %}
                {% render_field field class+=base class+="border-green-600 focus:border-green-600 focus:ring-green-600" %}
            {% endif %}
        {% else %}
            {% render_field field class+=base class+="border-gray-300 focus:border-blue-700 focus:ring-blue-700" %}
        {% endif %}
    {% endif %}

    {% if field.help_text %}
        <div class="mt-1 text-sm text-gray-500">{{ field.help_text }}</div>
    {% endif %}
</div>
{% endwith %}
