<nav aria-label="Page navigation">
{% with link="inline-flex items-center justify-center px-3 py-2 text-sm rounded border border-gray-300 hover:bg-gray-50" active="inline-flex items-center justify-center px-3 py-2 text-sm font-semibold text-white rounded border border-blue-900 bg-blue-900" %}
    <ul class="flex justify-center gap-1">
        {% if page_object.has_previous %}
            <li>
                <a class="{{ link }}" href="{{url}}?page=1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">begin</span>
                </a>
            </li>
        {% endif %}

        {% for n in page_object.paginator.page_range %}
            {% if page_object.number == n %}
            <li>
                <span class="{{ active }}">{{ n }}<span class="sr-only">(current)</span></span>
            </li>
            {% elif n > page_object.number|add:'-3' and n < page_object.number|add:'3' %}
            <li><a class="{{ link }}" href="{{url}}?page={{ n }}">{{ n }}</a></li>
            {% endif %}
        {% endfor %}

        {% if page_object.has_next %}
            <li>
                <a class="{{ link }}" href="{{url}}?page={{ page_object.paginator.num_pages }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">end</span>
                </a>
            </li>
        {% endif %}
    </ul>
{% endwith %}
</nav>
