{% load widget_tweaks %}

{% for error in form.non_field_errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ error }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}
<form id="formset" class="form md-1" method="post" novalidate>
    {% csrf_token %}

    {{ formset.non_form_errors.as_ul }}

    {{ formset.management_form }}


    <table id="users" class="table table">
        <thead class="thead-light">
            <tr>
                {% for field in formset.empty_form.visible_fields %}
                    {% if forloop.first %}
                    <th scope="col" class="col-sm-1"><h3>{{ field.label|capfirst }}</h3></th>
                    {% else %}
                    <th scope="col" class="col-sm-1 text-center">{{ field.label }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            <!-- no permissions already, must put an empty form -->
            {% if formset.total_form_count == 0 %}
                <!-- hidden fields -->
                {% for hidden_field in formset.empty_form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}
                <!-- body -->
                <tr>
                    {% for field in formset.empty_form.visible_fields %}
                        <td class="text-center">
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>
                    {% endfor %}
                </tr>
            {% endif %}

            {% for form in formset %}
                <!-- hidden fields -->
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}
                <!-- body -->
                <tr>
                    {% for field in form.visible_fields %}
                        <td class="text-center">
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="">
        <button type="submit" class="btn btn-primary btn-raised">{{ submit_label | default:"Submit" }}</button>
    </div>
</form>
