<table id="permissions" class="w-full text-sm">
    <thead class="bg-gray-50">
        <tr>
            <th scope="col" class="px-3 py-2 text-left"><h3 class="text-lg font-semibold">{{ obj_name }}</h3></th>
            {% for perm in perms_const %}
            <th scope="col" class="px-3 py-2 text-center font-semibold">{{ perm.name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for key, value in obj_perms.items %}
            <tr>
            {% if obj_name == 'Dataset' %}
                <td class="px-3 py-2 border-t border-gray-200"><a class="text-blue-700 hover:underline" href="{% url 'dataset' pk=key.id %}">{{ key }}</a></td>
            {% elif obj_name == 'Project' %}
                <td class="px-3 py-2 border-t border-gray-200"><a class="text-blue-700 hover:underline" href="{% url 'project' pk=key.id %}">{{ key }}</a></td>
            {% elif obj_name == 'User' %}
                <td class="px-3 py-2 border-t border-gray-200"><a class="text-blue-700 hover:underline" href="{% url 'user' pk=key.id %}">{{ key }}</a></td>
            {% endif %}
            {% for perm in obj_perms_const %}
                {% if perm in value %}
                    <td class="px-3 py-2 text-center border-t border-gray-200"><input type="checkbox" disabled checked></td>
                {% else %}
                    <td class="px-3 py-2 text-center border-t border-gray-200"><input type="checkbox" disabled unchecked></td>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </tr>
    </tbody>
</table>
