<div class="row">
    <h1 class="display-4">
        Browse {{title}}
    </h1>
</div>
<div class="row">
    <div class="col-md-12 col-lg-11">
        <div class="row">
            <div class="col-xl-5 col-lg-12">
                <form class="form-inline" method="get" action="{% url url %}">
                    <div class="form-group">
                        <label for="query" class="bmd-label-floating">
                            &nbsp;<i class="material-icons">search</i> Query
                        </label>
                        <input type='text' class="form-control border border-top-0 bg-white" name='query' value='{{ query }}'/>
                    </div>
                    <span class="form-group bmd-form-group"> <!-- needed to match padding for floating labels -->
                        <button type="submit" class="btn btn-primary">Search</button>
                    </span>
                </form>
            </div>
    
            <div class="col-xl-7 col-lg-12 mt-4 mb-2">
                {% if order_by_fields %}
                <div class="mr-auto float-right">
                    <div class="btn-group-sm" role="group">
                        {% for field in order_by_fields %}
                            {% orderbylink search_url field %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
