language: python

python:
  - "3.6"
  - "3.5"
  
services:
  - docker
  
before_install:
  - cp elixir_daisy/settings_compose.py elixir_daisy/settings_tests.py
  
install:
  - docker-compose build
  - docker-compose up -d

script:
  - docker-compose exec web python setup.py pytest 
