{% extends 'layout.html' %}

{% block title %}Contact - Add{% endblock %}

{% block content %}
    <div class="jumbotron mt-4">
        <h1 class="display-4">{% block content_title %}Contacts{% endblock %}</h1>
    </div>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{% block card_title %}Add a new contact{% endblock %}</h2>
            <div class="card-text">
                {% url 'contacts' as go_back_link %}
                {% include '_includes/forms.html' with cancel_button=go_back_link %}
            </div>
        </div>
    </div>


{% endblock %}