{% extends 'layout.html' %}

{% block title %}{{ contact.full_name }}{% endblock %}

{% block content %}
    <div class="row mt-4">
        <div class="jumbotron col">
            <span style="color: #8D8F8F;">Contact</span>
            <h1>{{ contact.full_name }}</h1>
            <div class="row">
                <div class="col">
                    <dl>
                        <dt>First name</dt>
                        <dd>{{ contact.first_name }}</dd>
                        <dt>Last name</dt>
                        <dd>{{ contact.last_name }}</dd>
                        <dt>Affiliations</dt>
                        {% if contact.partners %}
                            <dd>{% for partner in contact.partners.all %}
                                <span class="badge badge-pill badge-primary">{{ partner.name }}</span>
                            {% endfor %}
                            </dd>
                        {% endif %}
                        <dt>Type</dt>
                        <dd>{{ contact.type }} </dd>
                    </dl>
                </div>

                <div class="col">
                    <dl>
                        <dt>Email</dt>
                        <dd><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></dd>
                        <dt>Address</dt>
                        <dd>{{ contact.address | default:'-' }}</dd>
                        <dt>Phone</dt>
                        <dd>{{ contact.phone  | default:'-' }}</dd>
                    </dl>

                </div>

                <div class="floating-buttons-absolute">
                    <a class="btn btn-primary bmd-btn-fab float-right"
                       title="Edit contact"
                       href="{% url 'contact_edit' pk=contact.id %}"><i
                            class="material-icons">edit</i>
                    </a>
                    <a  id="deletecontact" class="btn btn-danger bmd-btn-fab float-right red"
                            title="Delete contact"
                            data-toggle="modal" data-target="#modal"
                            data-ajax-url="{% url 'contact_delete' contact.id %}">
                                <i class="material-icons">delete</i>
                            </a>

                 </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        {#    Contracts    #}
        {% if contact.partners_roles.all %}
            <div class="card ml-0 col-md-12">
                <div class="card-body">
                    <h2 class="card-title">Contracts with this contact</h2>
                    <div class="card-text">
                        <table class="table table-condensed">
                            <tr>
                                <th>Contract</th>
                                <th>Partner</th>
                                <th>Project</th>
                                <th>Local custodians</th>
                                <th>Remarks</th>
                            </tr>
                            <tbody>
                                {% for partner_role in contact.partners_roles.all %}
                                <tr>
                                    <td>
                                        <a href="{% url 'contract' pk=partner_role.contract.id %}" class="btn btn-outline btn-primary">Go to contract</a>
                                    </td>
                                    <td>
                                        {{ partner_role.partner.name }}
                                    </td>
                                    <td>
                                        <strong alt="{{ partner_role.contract.project.title|truncatechars:75 }}">{{ partner_role.contract.project.acronym }}</strong>
                                    </td>
                                    <td>
                                        {% for custodian in partner_role.contract.local_custodians.all %}
                                            {{ custodian|truncatechars:100 }}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {{ partner_role.contract.comments }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    {#    DATASETS   #}
    <div class="row card-deck mt-4">
        <div class="card ml-0 mr-0 col-md-12">
            <div class="card-body">
                <h2 class="card-title">DACs the contact is member of</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dac in dacs %}
                        <tr>
                            <td>
                                <a href="{% url 'dac' pk=dac.id %}">{{ dac.title }}</a>
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
