{% load widget_tweaks %}

<div class="mb-8">
    {% with field=form.query %}
        <div class="w-full">
            {{ field.label_tag }}
            {% if form.is_bound %}
                {% if field.errors %}
                    {% render_field field class+="block w-full rounded border border-red-700 px-3 py-2" %}
                    {% for error in field.errors %}
                        <div class="mt-1 text-sm text-red-700">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field field class+="block w-full rounded border border-green-600 px-3 py-2" %}
                {% endif %}
            {% else %}
                {% render_field field class+="block w-full rounded border border-gray-300 px-3 py-2" %}
            {% endif %}
            {% if field.help_text %}
                <small class="text-sm text-gray-500">{{ field.help_text }}</small>
            {% endif %}
        </div>
    {% endwith %}
</div>

<script type="text/javascript">

    $(document).ready(function () {
        const emptyOption = $('<option></option');
        const selectQuery = $("select[name='query']");
        if (!$.fn.select2) {
            return;
        }
        selectQuery.prepend(emptyOption).select2({
            placeholder: "try searching by cohort, project, PI name.",
            ajax: {
                url: '{% url 'data_declarations_autocomplete' %}',
                dataType: 'json',
                processResults: function (response) {
                    return {
                        "results": $.map(response.results, function (data) {
                            const parts = [];
                            parts.push('Project: ' + data.project);
                            parts.push('title: ' + data.title);
                            if (data.cohorts !== null) {
                                parts.push('cohort(s): ' + data.cohorts.join(", "));
                            }
                            parts.push('responsible: ' + data.local_custodians.join(", "));
                            if (data.data_types !== null) {
                                parts.push('datatype(s): ' + data.data_types.join(", "));
                            }
                            const text = parts.join(", ");

                            return {
                                id: data.id,
                                text: text
                            };
                        })
                    };
                }
            }
        }).change(function () {
            $("button[type='submit']").removeAttr('disabled');
        });
    });
</script>
