{% extends 'layout.html' %}

{% block title %}Search page{% endblock %}
{% block containerclass %}container-fluid{% endblock %}



{% block content %}
    <div class="container card bg-light text-dark">
        <div class="card-body">
            <div class="card-title">
                <h1 class="display-4">{{ title }}</h1>
            </div>
            <p>{{ help_text }}</p>
            <p>Use the categories on the left or the search box below to locate {{ title }}.</p>
        </div>
    </div>

    <div class="row justify-content-between">

        <div id="sidebar-left" class="d-flex flex-column m-5 col-3">
            {% include '_includes/facets_sidebar.html' with facets=facets url=search_url %}
        </div>
        <div class="mt-5 col-8">
            {% include '_includes/search_form.html' with title=title query=query url=search_url order_by_fields=order_by_fields %}
            {% include results_template_name with data=data %}
        </div>


    </div>
{% endblock %}


{% block floating-buttons %}
    <a class="btn btn-primary bmd-btn-fab float-right" href="{% url add_url %}{% if reset %}?reset=true{% endif %}">
        <i class="material-icons">add</i>
    </a>
{% endblock %}