#react-notifications {
  .table {
    & td {
      vertical-align: middle;
    }
  }

  .card-title {
      margin-bottom: 0px;
  }

  .card-badge {
      position: absolute;
      right: -25px;
      bottom: 35%;
  }

}

.accordion-toggle {
    position: absolute;
    right: 15px;

    & i.material-icons {
        font-size: 36px;
    }
}