{% extends 'layout.html' %}
{% load static %}

{% block content %}

{% if projects %}
    <div class="mt-4 p-8 rounded bg-gray-50">
        <h1 class="text-4xl font-light">DAISY projects</h1>
        You're enlisted as a local custodian or a personnel in:
    </div>

    <div class="mt-4 rounded border border-gray-200 bg-white shadow-sm">
        <div class="p-4">
            <div id="form-container">
                <table id="dsw-projects" class="w-full text-sm">
                    <thead class="bg-gray-50">
                      <tr>
                        <th scope="col" class="px-3 py-2 text-left font-semibold">ID</th>
                        <th scope="col" class="px-3 py-2 text-left font-semibold">Project's acronym</th>
                        <th scope="col" class="px-3 py-2 text-left font-semibold">Title (click to choose)</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for project in projects %}<tr class="odd:bg-gray-50">
                        <td class="px-3 py-2 border-t border-gray-200">{{project.id}}</td>
                        <td class="px-3 py-2 border-t border-gray-200">{{ project.acronym }}</td>
                        <td class="px-3 py-2 border-t border-gray-200"><a class="inline-flex items-center px-3 py-1 text-sm font-medium text-blue-900 rounded border border-blue-900 cursor-pointer hover:bg-blue-50" data-project-title="{{ project.title }}" data-project-id="{{ project.id }}" data-project-url="/projects/{{ project.id }}">{{project.title}}</a></td>
                      </tr>{% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>

    <script src="{% static 'vendor/node_modules/@ds-wizard/integration-widget-sdk/lib/index.js' %}"></script>
    <script>
        const dswWidget = new DSWIntegrationWidget('{{ dsw_origin }}');

        dswWidget.init().then(() => {
            document.querySelectorAll('#dsw-projects a').forEach((el) => {
                el.onclick = () => {
                    const url = $(el).data("project-url");
                    const id = $(el).data("project-id");
                    const value = $(el).data("project-title");
                    console.log(url, value);

                    dswWidget.send(value, id)

                    window.close()
                }
            })
        })
    </script>
{% else %}
    <div class="mt-4 p-8 rounded bg-gray-50">
        <h1 class="text-4xl font-light">
            We are sorry! <br />
            <small class="text-base">There are no <strong>published</strong> projects in Daisy for which you are local custodian or personnel.</small>
        </h1>
        <hr class="my-4 border-gray-200" />
        <p>
            Please ask your Data Steward in case you believe you should see some projects here. <br />It might have happened that the Projects were not published yet, too.
        </p>
    </div>
{% endif %}

{% endblock content %}
