{% load static %}
<footer class="mt-auto pb-3 py-5">
    <div class="container">
        <p class="text-muted credit" style="text-align:center">Powered by:   &nbsp;&nbsp;
            <a href="https://www.uni.lu" class="mx-2">
                <img src="{% static 'images/Uni-LU.svg' %}" alt="uni-lu logo" height="40px"/>
            </a>
            <a href="https://www.uni.lu/lcsb" class="mx-2">
                <img src="{% static 'images/LCSB-logo.svg' %}" alt="lcsb logo" height="40px"/>
            </a>
            <a href="https://www.elixir-luxembourg.org" class="mx-2">
                <img src="{% static 'images/ELIXIR_LU_WB.svg' %}" alt="elixir luxembourg logo" height="40px"/>
            </a>
        </p>
    </div>
<!--<small></small>Copyright © Université du Luxembourg 2019. All rights reserved.</small>-->
<!-- Grid row-->
</footer>