<h2 class="text-xl font-semibold">Confirm</h2>
<form method="post" action="{% url   action_url  id %}">{% csrf_token %}
    <p>Proceed with deletion of  "{{ object }}"?</p>
    <div class="flex items-center justify-between gap-2 mt-3">
        <button type="submit"
                class="inline-flex items-center px-4 py-2 text-sm font-medium text-white rounded bg-blue-900 hover:bg-blue-800">Proceed</button>
        <a href="{{ cancel_button }}" class="inline-flex items-center px-4 py-2 text-sm font-medium text-blue-900 rounded border border-blue-900 hover:bg-blue-50">Cancel</a>
    </div>
</form>
