{% extends 'layout.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <div class="jumbotron mt-4">
        <h1 class="display-4">{% block content_title %}Partner and role{% endblock %}</h1>
    </div>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{% block card_title %}{{ card_title  }}{% endblock %}</h2>
            <div class="card-text">
                {% include '_includes/forms.html' %}
            </div>
        </div>
    </div>
{% endblock %}