<div id="importForm">
    {% if form %}
        <form class="nice-selects" method="post" enctype="multipart/form-data" novalidate
              action="{% url 'import_data' model_type=model_type %}">
            {% csrf_token %}
            <div class="mt-2">
                <strong>{{ form.file.label_tag }}</strong>
                <input type="file" name="{{ form.file.name }}" class="block px-3 py-2 w-full rounded border border-gray-300" required
                       id="{{ form.file.id_for_label }}" accept=".json">
                {% if form.file.errors %}
                    <div class="text-red-700">
                        {{ form.file.errors|striptags }}
                    </div>
                {% endif %}
            </div>
            <button id="ajaxSubmitButton" type="button" class="inline-flex items-center justify-center mt-4 px-4 py-2 w-full text-white bg-blue-900 rounded hover:bg-blue-800">Submit</button>
        </form>
    {% else %}
        <div>
            {% if output.message %}
                <div class="p-4 rounded border {% if not output.error %}border-green-200 bg-green-50 text-green-800{% else %}border-blue-200 bg-blue-50 text-blue-800{% endif %}" role="alert">
                    <strong>Output:</strong>
                    <p>{{ output.message|linebreaksbr }}</p>
                </div>
            {% endif %}
            {% if output.error %}
                <div class="p-4 rounded border border-red-200 bg-red-50 text-red-800" role="alert">
                    <strong>Error:</strong>
                    <p>{{ output.error|linebreaksbr }}</p>
                </div>
            {% endif %}
            {% if output.logs %}
                <div class="p-4 rounded border border-gray-200 bg-gray-50 text-gray-800" role="alert">
                    <strong> Logs:</strong>
                    <div class="log-container">
                        <p>{{ output.logs|linebreaksbr }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>