<div>
  <ul class="list-group">
    {% for dac in dacs %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ dac.title }}
        <button class="btn btn-success btn-sm select-dac-btn" data-dac-id="{{ dac.id }}" data-dac-label="{{ dac.title }}">Select</button>
      </li>
    {% endfor %}
  </ul>
</div>
<script>
$(function(){
  $('.select-dac-btn').click(function(){
    var dacId = $(this).data('dac-id');
    var datasetId = '{{ dataset_id }}';
    if (!datasetId) {
      alert("Dataset ID missing.");
      return;
    }
    $.ajax({
      url: "{% url 'set_dataset_dac' %}",
      method: "POST",
      data: {
        dac_id: dacId,
        dataset_id: datasetId,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(response) {
        if (response.success) {
          $('#modal').modal('hide');
          location.reload();
        } else {
          alert(response.error || "Failed to set DAC.");
        }
      },
      error: function(xhr) {
        alert("Error: " + xhr.responseText);
      }
    });
  });
});
</script>