{% extends 'layout.html' %}

{% block title %}Add legal basis | DAISY{% endblock %}

{% block content %}
    <div class="mt-4">
        <h1 class="font-display text-3xl font-medium tracking-tight text-primary-900 lg:text-5xl">{% block content_title %}Legal Basis{% endblock %}</h1>
    </div>
    <div class="mt-4 rounded-2xl border border-gray-200 bg-white shadow-sm">
        <div class="p-4">
            <h2 class="font-display text-2xl font-medium tracking-tight text-primary-900">{% block card_title %}Add a new legal basis{% endblock %}</h2>
            <div class="mt-2">
                {% include '_includes/forms.html' %}
            </div>
        </div>
    </div>
{% endblock %}
