{% extends 'layout.html' %}

{% block title %}Change password{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{% block card_title %}Change password {% endblock %}</h2>
            <div class="card-text">
                <form method="post">
              {% csrf_token %}
              {% include '_includes/forms.html' with cancel_button=go_back_link %}

            </form>
        </div>
        </div>
    </div>


{% endblock %}



