{% extends 'layout.html' %}

{% block title %}Users - Add{% endblock %}

{% block content %}
    <div class="jumbotron mt-4">
        <h1 class="display-4">{% block content_title %}Users{% endblock %}</h1>
    </div>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{% block card_title %}Add a new user{% endblock %}</h2>
            <div class="card-text">
                {% include '_includes/forms.html' %}
            </div>
        </div>
    </div>


{% endblock %}