{% extends 'layout.html' %}

{% block title %}Access logs of access {{ request.args.pk }}{% endblock %}

{% block content %}
    <div class="jumbotron mt-4">
        <h1 class="display-4">History</h1>
    </div>
    <div class="row fullwidth">
        <div id="sidebar-left" class="d-none d-md-block mt-5 col-xs-12 col-md-12 col-lg-3 col-xl-4">
            {# include '_includes/facets_sidebar.html' with facets=facets url=search_url #}
            <div class="card mb-4">
                <div class="card-body">
                    <h6 class="card-title">Model</h6>
                    <ul class="facets card-text">
                        <li class="active}"><a href="#"><i class="material-icons">radio_button_unchecked</i><span>Access</span></a></li>
                        <li class="active}"><a href="#"><i class="material-icons">radio_button_unchecked</i><span>Dataset</span></a></li>
                        <li class="active}"><a href="#"><i class="material-icons">radio_button_unchecked</i><span>Project</span></a></li>
                    </ul>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h6 class="card-title">Date range</h6>
                    <div class="form-group bg-white border-white">
                        <div class='d-inline-flex justify-content-around align-items-center'><label>Start date</label><input id="log_entry_start_date" type="text" class="datepicker form-control w-50" name="start_date" /></div>
                        <div class='d-inline-flex justify-content-around align-items-center'><label>End date</label><input id="log_entry_end_date" type="text" class="datepicker form-control w-50" name="end_date" /></div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h6 class="card-title">User</h6>
                    <div class="form-group bg-white border-white">
                        <div class="d-inline-flex justify-content-around align-items-center">
                            <label>User name</label>
                            <select class="form-control w-50">
                                <option>Admin</option>
                                <option>Alice White</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-rows col-lg-9 col-xl-8">
            {% for object in object_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title text-capitalize">{{ object.log.content_type.model }} #{{ object.log.object_id }}</h2>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {{ object.log.actor }} ({{ object.log.remote_addr }}) {{ object.action.1 }}d {{ object.log.content_type.model }} #{{ object.log.object_id }} on {{ object.log.timestamp }}
                    </h6>
                    <table class="table-striped table">
                        <thead>
                            <tr>
                                <th>Attribute</th>
                                <th>Original value</th>
                                <th>New value</th>
                            </tr>
                        </thead>
                        {% for key, value in object.log.changes_display_dict.items %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>"{{ value.0|default:"None" }}"</td>
                                <td>"{{ value.1|default:"None" }}"</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}