{% extends 'layout.html' %}

{% block content_title %}{{ cohort }}{% endblock %}

{% block content %}
    <div class="row mt-4">
        <div class="jumbotron col">
            {% if cohort.is_published %}
                <div class="ribbon ribbon-green"><span>Published</span></div>
            {% else %}
                <div class="ribbon ribbon-orange"><span>Not Published</span></div>
            {% endif %}

            <span style="color: #8D8F8F;">Cohort</span>
            <h1>{{ cohort }}</h1>
            <div class="row">
                <div class="col">
                    <dl>
                        <dt>Cohort owner</dt>
                        <dl>
                            {% for contact in cohort.owners.all %}
                            <span class="badge badge-pill badge-secondary">{{ contact }}</span>
                        {% empty %}
                            -
                        {% endfor %}
                        </dl>
                        <dt>Institutes</dt>
                        <dl>
                            {% for institute in cohort.institutes.all %}
                                <span class="badge badge-pill badge-secondary">{{ institute }}</span>
                            {% empty %}
                               -
                            {% endfor %}
                        </dl>
                    </dl>
                    <dt>URL</dt>
                    <dd>{{ cohort.cohort_web_page | default:'-' }}</dd>
                    <dt>Ethics confirmation</dt>
                    <dd>{{ cohort.ethics_confirmation | yesno }}</dd>
                    <dt>Ethics confirmation notes</dt>
                    <dd>{{ cohort.ethics_notes | default:'-' }}</dd>
                    <dt>Accession number</dt>
                    <dd>{{ cohort.elu_accession | default:'-'}}</dd>
                    <dt>Remarks</dt>
                    <dd>{{ cohort.comments | default:'-'}}</dd>
                </div>
                <div class="floating-buttons-absolute">
                    {% if request.user.is_superuser %}
                        {% if not cohort.is_published %}
                            <a  href="{% url 'cohort_publish' pk=cohort.pk %}" 
                                id="publish" 
                                title="Publish cohort"  
                                class="btn btn-primary bmd-btn-fab float-right">
                                    <i class="material-icons">publish</i>
                            </a>
                        {% else %}
                            {% comment %}
                            <a href="{% url 'cohort_unpublish' pk=cohort.pk %}" 
                                    id="unpublish" 
                                    title="Unpublish cohort" 
                                    class="btn btn-primary bmd-btn-fab float-right">
                                    <i class="material-icons">undo</i></a>
                            {% endcomment %}
                        {% endif %}
                    {% endif %}

                    {% if can_edit %}
                        <a class="btn btn-primary bmd-btn-fab float-right"  title="Edit cohort" href="{% url 'cohort_edit' pk=cohort.id %}"><i
                                class="material-icons">edit</i>
                        </a>
                        <a  id="deletecohort" class="btn btn-danger bmd-btn-fab float-right red"
                            title="Delete cohort"
                            data-toggle="modal" data-target="#modal"
                            data-ajax-url="{% url 'cohort_delete' cohort.id %}">
                                <i class="material-icons">delete</i>
                            </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <div class="row card-deck mt-4">
        {#    Datasets    #}
        <div class="card ml-0 mr-0 col-md-12">
            <div class="card-body">
                <h2 class="card-title">Data declarations</h2>
                {% include '_includes/data_declarations_list.html' with entity=cohort %}
            </div>

        </div>
    </div>
{% endblock %}


