{% extends 'layout.html' %}

{% block title %}Access logs of access {{ request.args.pk }}{% endblock %}

{% block content %}
    <div class="jumbotron mt-4">
        <h1 class="display-4">Logs</h1>
    </div>
    <div class="card-columns">
        {% for log in logs %}
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{ log.timestamp }}</h2>
                    <table class="table-striped">
                        <thead>
                            <tr>
                                <th>Attribute</th>
                                <th>Original value</th>
                                <th>New value</th>
                            </tr>
                        </thead>
                        {% for key, value in log.changes_display_dict.items %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value.0|default:"None" }}</td>
                                <td>{{ value.1|default:"None" }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}