{% for cohort in data.cohorts %}
    <div class="row">
        <div class="col-md-12 mb-4 card-item card">
            <div class="card-body">
                <h2 class="card-title">
                    <a href="{% url 'cohort' pk=cohort.pk %}">{{ cohort.title }}</a>
                </h2>
                <ul class="card-text">
                        <li><strong>Owners:</strong>  {% for contact in cohort.owners %}
                            <span class="badge badge-pill badge-secondary">{{ contact }}</span>
                        {% empty %}
                            "unknown"
                        {% endfor %}</li>
                        <li><strong>Institutes:</strong> {% for institute in cohort.institutes %}
                            <span class="badge badge-pill badge-secondary">{{ institute }}</span>
                        {% empty %}
                            "unknown"
                        {% endfor %}</li>
                        <li><strong>Ethics Confirmation:</strong> {% if cohort.ethics_confirmation %}
                            <i class="material-icons text-success">
                                check
                            </i>
                        {% else %}
                            "missing"
                        {% endif %}
                        </li>
                </ul>
                <a href="{% url 'cohort' pk=cohort.pk %}" class="btn btn-secondary btn-outline">Details &raquo;</a>
            </div>
        </div>
    </div>
{% empty %}
    <p>No results</p>
{% endfor %}
