{% for contract in data.contracts %}
    <div class="mb-4">
        <div class="rounded border border-gray-200 bg-white shadow-sm">
            <div class="p-4">
                <h2 class="text-2xl font-light">
                    <a href="{% url 'contract' pk=contract.pk %}" class="text-blue-700 hover:underline">{{ contract.partners | join:", " }}{% if contract.project %}<small class="text-base text-gray-500"> - "{{ contract.project }}"</small>{% endif %}</a>
                </h2>
                <ul class="py-1 text-left">
                    <li class="flex items-center"><strong>Project:</strong> <span class="ml-1 inline-flex items-center px-2.5 py-0.5 text-xs font-medium rounded-full bg-gray-200 text-gray-800">{{ contract.project }}</span></li>
                    {% if contract.partners_roles %}
                        <li class="flex items-center"><strong>Partners roles: </strong>{{ contract.partners_roles | join:", " }}</li>
                    {% endif %}
                </ul>
                <a href="{% url 'contract' pk=contract.pk %}" class="mt-2 inline-flex items-center px-4 py-2 text-gray-700 rounded border border-gray-300 hover:bg-gray-50">Details &raquo;</a>
            </div>
        </div>
    </div>
{% empty %}
    {% include "search/_items/no_results.html" %}
{% endfor %}
