{% for contract in data.contracts %}
    <div class="row">
        <div class="col-12 mb-4">
            <div class="card card-item">
                <div class="card-body">
                    <h2 class="card-title">
                        <a href="{% url 'contract' pk=contract.pk %}">{{ contract.partners | join:", " }}{% if contract.project %}<small> - "{{ contract.project }}"</small>{% endif %}</a>
                    </h2>
                    <ul class="card-text list-unstyled text-left py-1">
                        <li class="d-flex align-items-center"><strong>Project:</strong> <span class="badge badge-pill badge-secondary ml-1">{{ contract.project }}</span></li>
                        {% if contract.partners_roles %}
                            <li class="d-flex align-items-center"><strong>Partners roles: </strong>{{ contract.partners_roles | join:", " }}</li>
                        {% endif %}
                    </ul>
                    <a href="{% url 'contract' pk=contract.pk %}" class="btn btn-secondary btn-outline">Details &raquo;</a>
                </div>
            </div>
        </div>
    </div>
{% empty %}
    {% include "search/_items/no_results.html" %}
{% endfor %}
