{% for contract in data.contracts %}
    <div class="row">
        <div class="col-md-9 mb-4 card-item card">
            <div class="card-body">
                <h2 class="card-title">
			{{ contract.partners | join:", " }}{% if contract.project %}<small>&nbsp;(on {{ contract.project }})</small>{% endif %}
                </h2>
                <ul class="card-text">
                    <li>Project: <span class="badge badge-pill badge-secondary">{{ contract.project }}</span></li>
                    {% if  contract.partners_roles %}
                        <li>Partners roles: {{ contract.partners_roles | join:", " }}</li>
                    {% endif %}

                </ul>
                <a href="{% url 'contract' pk=contract.pk %}" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
{% empty %}
    <p>No results</p>
{% endfor %}



