{% for dac in data.dacs %}
    <div class="mb-4">
        <div class="rounded border border-gray-200 bg-white shadow-sm">
            <div class="p-4">
                <h2 class="text-2xl font-light">
                  <a href="{% url 'dac' pk=dac.pk %}" class="text-blue-700 hover:underline">{{ dac.title }}</a>
                </h2>
                <ul class="py-1 text-left">
                    {% if dac.local_custodians %}
                        <li><strong>Local custodians:</strong>
                            {% for local_custodian in dac.local_custodians %}
                                <span class="ml-1 mb-1 inline-flex items-center px-2.5 py-0.5 text-xs font-medium text-white rounded-full bg-blue-900">{{ local_custodian }}</span>
                            {% endfor %}
                        </li>
                    {% endif %}
                </ul>
                <a href="{% url 'dac' pk=dac.pk %}" class="mt-2 inline-flex items-center px-4 py-2 text-gray-700 rounded border border-gray-300 hover:bg-gray-50">Details &raquo;</a>
            </div>
        </div>
    </div>
{% empty %}
    {% include "search/_items/no_results.html" %}
{% endfor %}
