{% for project in data.projects %}
    <div class="row">
        <div class="col-md-9 mb-4 card-item card">
            <div class="card-body">
                <h2 class="card-title">
                    {{project.acronym}} <small>{% if project.title %}- {{project.title}}{% endif %}</small>
                </h2>
                <ul class="card-text">
                    {% if  project.project_web_page %}<li>Web: {{ project.project_web_page }}</li>{% endif %}
                    <li>Publications: <span class="badge badge-pill badge-info">{{ project.publications|length }}</span></li>

                </ul>
                <a href="{% url 'project' pk=project.pk %}" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
{% empty %}
    <p>No results</p>
{% endfor %}



