{% extends 'layout.html' %}

{% block title %}{{ object }}{% endblock %}

{% block content %}
    <div class="row mt-4">
        <div class="jumbotron col">
            <h1>{{ object.display }}</h1>

            <div class="row">
                <div class="col">
                    <dl>
                        <dt>Location</dt>
                        <dd>{{ object.backend.name }}</dd>
                        {% for name, attr in object.attrs.items %}
                            <dt>{{name|title}}</dt>
                            <dd>{{ attr }}</dd>
                        {% endfor %}
                    </dl>
                </div>
                <ul>
                    {% for dataset in object.datasets.all %}
                        <li><a href="{% url 'dataset' pk=dataset.pk %}">{{dataset}}</a></li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>

{% endblock %}
