{% extends 'layout.html' %}

{% block title %}Data file - Add{% endblock %}

{% block content %}
    <div class="mt-4 p-8 rounded bg-gray-50">
        <h1 class="text-4xl font-light">{% block content_title %}Data file{% endblock %}</h1>
    </div>
    <div class="mt-4 rounded border border-gray-200 bg-white shadow-sm">
        <div class="p-4">
            <h2 class="text-2xl font-light">{% block card_title %}Add a new data file{% endblock %}</h2>
            <div class="mt-2">
                {% url 'storage_locations' as go_back_link %}
                {% include '_includes/forms.html' with cancel_button=go_back_link %}
            </div>
        </div>
    </div>
{% endblock %}
