{% extends 'layout.html' %}

{% block title %}Data files{% endblock %}

{% block content %}
    <div class="jumbotron mt-4">
        <h1 class="display-4">Data files</h1>
    </div>
    <div class="card-columns">
        {% for storagelocation in storagelocation_list %}
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{ storagelocation }}</h2>
                    <ul class="card-text">
                        <li>
                            <strong>Backend: </strong>
                            {{ storagelocation.backend.name }}
                        </li>
                        {% if storagelocation.location %}
                            <li>
                                <strong>Location: </strong>
                                {{ storagelocation.location }}
                            </li>{% endif %}
                        {% if storagelocation.category %}
                            <li>
                                <strong>Category: </strong>
                                {{ storagelocation.category }}
                            </li>{% endif %}
                        {% if storagelocation.datatype %}
                            <li>
                                <strong>Datatype: </strong>
                                {{ storagelocation.datatype }}
                            </li>{% endif %}
                    </ul>
                    <a href="{% url 'storage_location' pk=storagelocation.id %}" class="btn btn-primary">Details</a>
                </div>
            </div>
        {% empty %}
            <p>No partners yet</p>
        {% endfor %}
    </div>
{% endblock %}


{% block floating-buttons %}
    <a class="btn btn-primary bmd-btn-fab float-right" href="{% url 'storage_location_add' %}"><i
            class="material-icons">add</i>
    </a>
{% endblock %}
